<section class="gallery">
  <div class="container">
    <ul class="movies" id="library">
      <li class="movie">
        <a class="movie__link" href="#">
          <div class="movie__box">
            <img class="movie__img" src="images/Rectangl.png" alt="" />
          </div>
          <div class="movie__desc">
            <h3 class="movie__title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
            <p class="movie__genre">Drama, Comedy | 2019</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
