<section class="header-lib">
  <div class="container">
    <div class="header__box">
      <div class="header__logo-box">
        <a class="header__logo" href="./index.html">
          <svg width="24" height="24">
            <use href="images/sprite.svg#icon-film"></use>
          </svg>
          <span class="header__text">Filmoteka</span>
        </a>
      </div>
      <nav class="header__nav">
        <a class="header__link" href="./index.html">Home</a>
        <a class="header__link active" href="#">My library</a>
      </nav>
    </div>
    <ul class="header-lib__box-btn">
      <li class="header-lib__box">
        <button class="header-lib__btn" type="button" data-watched>
          Watched
        </button>
      </li>
      <li class="header-lib__box">
        <button class="header-lib__btn" type="button" data-queue>
          &#160; &#160;Queue&#160; &#160;
        </button>
      </li>
    </ul>
  </div>
</section>
