<section class="header">
  <div class="container">
    <div class="header__box">
      <div class="header__logo-box">
        <a class="header__logo" href="#">
          <svg width="24" height="24">
            <use href="images/sprite.svg#icon-logo"></use>
          </svg>
          <span class="header__text">Filmoteka</span>
        </a>
      </div>
      <nav class="header__nav">
        <a class="header__link active" href="#">Home</a>
        <a class="header__link" href="#">My library</a>
      </nav>
    </div>
    <form class="header__form">
      <input class="header__input" type="text" placeholder="Movie search" />
      <button class="header__btn" type="submit">
        <svg width="12" height="12">
          <use href="images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="header__error none">
      Search result not successful. Enter the correct movie name and
    </p>
  </div>
</section>
