<div class="pagination none">
  <button class="pagination__btn" id="back" type="button">
    <svg id="left" width="16" height="16">
      <use href="images/sprite.svg#icon-arrow-left"></use>
    </svg>
  </button>
  <button class="pagination__startBtn" type="button">1</button>
  <p class="pagination__decorStart">...</p>
  <div class="pagination__list"></div>
  <p class="pagination__decorEnd">...</p>
  <button class="pagination__endBtn" type="button">20</button>
  <button class="pagination__btn" id="forward" type="button">
    <svg id="right" width="16" height="16">
      <use href="images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>
