<div class="pagination none">
  <button class="pagination__btn" id="back" type="button" disabled>
    <svg id="left" width="16" height="16">
      <use href="images/sprite.svg#icon-arrow-left"></use>
    </svg>
  </button>
  <p class="pagination__start">1</p>
  <p class="pagination__decorStart">...</p>
  <ul class="pagination__list"></ul>
  <p class="pagination__decorEnd">...</p>
  <p class="pagination__end">20</p>
  <button class="pagination__btn" id="forward" type="button">
    <svg id="right" width="16" height="16">
      <use href="images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>
