<div class="pagination">
  <button class="pagination__btn" type="button">
    <svg width="16" height="16">
      <use href="images/sprite.svg#icon-arrow-left"></use>
    </svg>
  </button>
  <ul class="pagination__list">
    <li class="pagination__item">10</li>
    <li class="pagination__item">11</li>
    <li class="pagination__item">12</li>
    <li class="pagination__item">13</li>
    <li class="pagination__item">14</li>
  </ul>
  <button class="pagination__btn" type="button">
    <svg width="16" height="16">
      <use href="images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>
