.gallery {
    padding-bottom: 40px;
}

.movies {
    list-style: none;
    padding: 0;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

// .movie__link {
//     text-decoration: none;
//     width: 100%;
// }

.movie__box {
    width: 280px;
    height: 400px;
    margin: 0 auto;
}

.movie__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.movie__desc {
    width: 280px;
    margin: 10px auto 0;
}

.movie__title {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
}

.movie__genre {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6B08;
}

@media screen and (min-width:768px) {
    .gallery {
        padding-top: 28px;
        padding-bottom: 60px;
    }

    .movies {
        display: flex;
        flex-wrap: wrap;
    }

    .movie__box {
        width: 100%;
        height: 455px;
    }

    .movie__genre {
        line-height: 16px;
    }
}


@media screen and (min-width: 768px) and (max-width:1279px) {
    .movie {
        flex-basis: calc((100% - 32px)/2);
        margin-top: 32px;

        &:not(:nth-child(2n)) {
            margin-right: 32px;
        }

        .movie__desc {
            width: 100%;
            margin-top: 8px;
        }
    }
}

@media screen and (min-width:1280px) {
    .movie {
        flex-basis: calc((100% - 32px)/3);
        margin-top: 32px;

        &:not(:nth-child(3n+3)) {
            margin-right: 16px;
        }
    }

    .movie__box {
        height: 574px;
    }

    .movie__desc {
        width: 100%;
        margin-top: 12px;
    }

    .movie__title,
    .movie__genre {
        font-size: 20px;
        line-height: 24px;
    }
}