.pagination {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__btn {
    border: none;
    border-radius: 5px;
    background: #F7F7F7;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: #adabab;
    }
}

.pagination__list {
    display: flex;
    list-style: none;
}

.pagination__item,
.pagination__start,
.pagination__end,
.pagination__decor {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding: 12px 13px;
}

.pagination__decorStart,
.pagination__decorEnd {
    padding: 9px 12px 15px;
}

.pagination__start,
.pagination__end,
.pagination__decorStart,
.pagination__decorEnd {
    display: none;
}

.pagination__item--active {
    color: #fff;
    background: #FF6B08;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .pagination {
        margin-bottom: 60px;
    }

    .pagination__start,
    .pagination__end,
    .pagination__decorStart,
    .pagination__decorEnd {
        display: block;
    }
}